option_settings:
  aws:elasticbeanstalk:application:environment:
    # --- Critical Environment Variables ---
    OPENAI_API_KEY:""
    TAVILY_API_KEY:""
    MONGODB_URI:""

  aws:elasticbeanstalk:container:python:
    # Set the WSGIPath to tell EB where your FastAPI app instance is located.
    # Using 'main:app' as 'app' is the FastAPI object inside main.py
    WSGIPath: main:app